[submodule "themes/dead-simplethemes/dead-simple"]
	path = themes/dead-simplethemes/dead-simple
	url = https://github.com/barklan/hugo-dead-simple.git
[submodule "themes/dead-simple"]
	path = themes/dead-simple
	url = https://github.com/barklan/hugo-dead-simple.git
